<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/tomorrowvalues.css">
    <title>Fill your Values</title>
</head>
<body>
    <form action="/predict_tomorrow_open" method="post">
        <div class="title">Get Stock-tastic!</div>
        <div class="subtitle">Decode Stock Magic</div>
        <div class="input-container ic2">
            <input id="close" class="input" type="number" placeholder=" " name="close" />
            <div class="cut cut-short"></div>
            <label for="close" class="placeholder">Previous Day's Close</label>
        </div>
        <button type="text" class="submit">Submit</button>
    </form>   
</body>
</html>